

* {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
} 

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(65, 65, 65) ;
    padding: 0px 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
li{
    margin-left: 30px;
    
}

.btn{
    background-color:teal; 
    color: white; 
    border: 3px solid black;
    font-size: 18px;
    padding: 5px 10px;
    box-shadow:3px 3px black;
}

/*Code by @Kenniche*/
